$palette: (
	primary:     $primary-color,
	secondary:   $secondary-color,
	success:     $success-color,
	warning:     $warning-color,
	alert:       $alert-color,
	dark-gray:   $dark-gray,
	medium-gray: $medium-gray,
	light-gray:  $light-gray,
	black:       $black,
	white:       $white,
	facebook:    $facebook-color,
	youtube:     $youtube-color,
	linkedin:    $linkedin-color,
	twitter:     $twitter-color
	);
